<html>
<head>
<title> MOODSIC </title>
</head>

<body>
<section>
<div class = "header">
<h1>MOODSIC</h1>
</div>
</section>

<section>
<div class="main">
  <div class="container">
    <div class = "arrow-up">
    </div>
    <div class = "line-1">
    </div>
    <div class = "line-2">
    </div>
    <p>oops, MOODSIC needs a location to work.</p>
    <div class="create">
      <div class="container">
      		<div class="actions">
        		<%= button_to "Try Again", '/locations', :method => "get"  %>
      		</div>
      </div>
    </div>
  </div>
</div>
</section>
</body>
</html>
